.video-bg-container {
  position: absolute;
  width: 100vw;
  /* height: 500px; */
  aspect-ratio: auto;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: 2700px;
  aspect-ratio: auto;
  object-fit: cover;
}
